$text-color: #252b42;
$second-text-color: #737373;
$light-text-color: #ffffff;

$primary-color: #d0a144;
$secondary-color-2: #784f33;
$secondary-color-3: #fafafa;
$secondary-color-4: #295c7a;

$lighter-background-color: #f9f9f9;
$dark-background-color: #252b42;

$border-input-color: #e6e6e6;

$main-font-family: 'Martel', 'Arial', sans-serif;
$secondary-font-family: 'Open Sans', 'Arial', sans-serif;
$third-font-family: 'Montserrat', 'Arial', sans-serif;