@use '../main.scss' as *;

.about {
  max-width: 1440px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 7.143em;
    max-width: 81.071em;
    margin: 0 auto;
    padding: 7.143em 3.036em 10.286em;

    @media screen and (max-width: 1026px) {
      padding-bottom: 5em;
    }

    @media screen and (max-width: 425px) {
      padding-bottom: 16.143em;
    }
  }

  &__heading-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (max-width: 425px) {
      gap: 10px;
    }
  }

  &__info {
    max-width: 36.429em;
    padding: 0 1em;
    margin: 0;
    text-align: center;
    letter-spacing: 0.2px;
    @include font-par;

    @media screen and (max-width: 425px) {
      padding: 0 2.143em;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

    @media screen and (max-width: 1026px) {
      justify-content: center;
    }

    @media screen and (max-width: 425px) {
      gap: 3.071em;
    }
  }

  &__video-link {
    display: grid;
    place-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
  }

  &__video-prev-img {
    grid-area: 1/-1;
    z-index: -1;
    width: 100%;
    max-height: 31.571em;
    object-fit: cover;

    @media screen and (max-width: 425px) {
      height: 31.571em;
    }
  }

  &__video-icon-block {
    grid-area: 1/-1;
    width: 98px;
    height: 98px;
    background-color: $secondary-color-4;
    border-radius: 50%;
    
    &:hover {
      background-color: $primary-color;
    }
  }

  &__video-icon-play {
    grid-area: 1/-1;
    width: 98px;
    height: 98px;
    clip-path: polygon(64% 53%, 37% 32%, 37% 68%);
    background-color: $light-text-color;
  }

  &__advantages {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 23.786em;
    padding: 0.643em 0.286em;

    @media screen and (max-width: 1026px) {
      flex-direction: row;
      align-items: center;
      max-width: 100%;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 0.643em 0;
    }
  }

  &__advantages-heading-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1.429em 0;

    @media screen and (max-width: 768px) {
      align-items: center;
    }
  }

  &__advantages-info {
    max-width: 22.857em;
    margin: 0;
    letter-spacing: 0.2px;
    @include font-par;

    @media screen and (max-width: 425px) {
      max-width: 100%;
    }
  }

  &__advantages-list {
    display: flex;
    gap: 20px;
    max-width: 23.5em;
  }

  &__advantages-list-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}