@use '../main.scss' as *;

.footer-list {
  max-width: 1440px;
  background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 77em;
    margin: 0 auto;
    padding: 3.571em 1em 3.714em;

    @media screen and (max-width: 967px) {
      padding: 3.571em 3em;
    }

    @media screen and (max-width: 425px) {
      flex-direction: column;
      padding: 3.929em 6.286em 3.571em;
    }

    @media screen and (max-width: 400px) {
      padding: 3.929em 2em;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_size_small {
      min-width: 148px;
    }

    &_size_big {
      min-width: 152px;
    }
  }

  &__links-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    @include font-link;
    color: $light-text-color;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__contacts-item {
    display: flex;
    gap: 10px;
    color: $light-text-color;
    font: 700 1rem/1.71 $secondary-font-family;
  }

  &__contacts-img {
    object-fit: cover;
  }

  &__contacts-adress {
    margin: 0;
  }
}